body{
  margin: 0;
}

ul li {
  display:inline;
  margin-bottom: 10px
}

.hero-image {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sub-banner img{
  margin-right: 50px;
  margin-left: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

footer{
  width: 100%
  bottom: 0;
  margin: 20px;
}
